# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
run/

# VSCode
.vscode/

# macOS
.DS_Store

# Fabric
run/

# Misc
*.log
